# Perform exploratory data analysis and plots time taken against different days for each of meal type

### Authors

| Name | Roll Number |
| - | - |
| Gautam Singh | CS21BTECH11018 |
| Jaswanth Beere | BM21BTECH11007 |

This `.ipynb` file perform an exploratory data analysis and plots time taken against different days for each of meal type.

## Package Imports

The required packages for the prediction are specified here

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Loading Datasets

The `pandas` library is used to load the `csv` files.

In [ ]:
df = pd.read_csv("../data/Meal Durations.csv")

In [ ]:
df

In [ ]:
hunger_meanings = ["not hungry", "slightly hungry", "routine hunger", "very hungry"]
location_meanings = ["at home", "at college", "elsewhere"]
meal_type_meanings = ["morning", "breakfast", "mid-morning", "lunch", "evening", "dinner", "emergency"]
day_meanings = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

In [ ]:
df['start_time'] = df['start_time'].apply(lambda x: (int(str(x)[0]) * 60 + int(str(x)[1:])) if x < 999 else (int(str(x)[:2]) * 60 + int(str(x)[2:])))

In [ ]:
df.head()

In [ ]:
df['start_time'] = df['start_time']/(24*60)

In [ ]:
df.head(20).iloc[:, [0, 1, 3]]

In [ ]:
df.columns

In [ ]:
plt.figure(figsize=(10, 5))
for meal_type in range(6):
    # Filter data for the specific meal type
    filtered_data = [df['start_time'][i] for i in range(len(df['meal_type'])) if df['meal_type'][i] == meal_type]
    days = [day_meanings[df['day'][i]] for i in range(len(df['meal_type'])) if df['meal_type'][i] == meal_type]
    filtered_data_24hr = [round(time * 24, 2) for time in filtered_data]
    # Plotting
    plt.scatter(days, filtered_data_24hr, label=f"Meal Type in a day: {meal_type_meanings[meal_type]}")
plt.legend(bbox_to_anchor=(1.05, 1.0), loc='upper left')
plt.xlabel('Days in a week')
plt.ylabel('Time (24 hour format)')
plt.yticks(range(5, 25, 1))
plt.xticks(rotation='vertical')
plt.title("plot of the time taken against different days for each of meal type", pad=20)
plt.tight_layout()
plt.show()